---
import BaseLayout from "../layouts/BaseLayout.astro";
// import "../styles/global.css";
import "../styles/confirmacion.css";
---

<BaseLayout>
    <div class="seccion_confirmacion">
        <img src="/images/confirmacion.webp" alt="" class="img_confirmacion" />
    </div>
</BaseLayout>
