---
import "../styles/footer.style.css";
---

<footer>
    <div class="footerContainer">
        <p>
            © 2024 desarrollado por
            <a href="https://rundevweb.netlify.app/" target="_blank"
            style="text-decoration: underline; color: #bbb; font-weight: bold;"
            >rundev-web</a>
        </p>
    </div>
</footer>
