---
import "../styles/home.style.css";
---

<body>
    <main class="indexMain">
        <p>Escoge la experiencia que deseas vivir</p>
        <section class="indexSection">
            <p class="description">
                Si quieres fiesta extrema, bailar y saltar toda la noche:
            </p>
            <figure class="indexFigureBx">
                <a href="/safaera">
                    <img
                        src="/images/logos/safaera_logo.png"
                        alt="safaera"
                        class="indexImg"
                    />
                </a>
            </figure>
            <p>Jueves, Viernes y Sábado de 20h00 a 04h00</p>
        </section>

        <section class="indexSection">
            <p class="description">
                Si quieres bailar, cantar y disfrutar con tu pareja, amigos y
                compañeros de trabajo:
            </p>
            <figure class="indexFigureBx">
                <a href="/discoteca" class="">
                    <img
                        src="/images/logos/discoteca_logo.webp"
                        alt="discoteca"
                        class="indexImg"
                    />
                </a>
            </figure>
            <p>Miércoles, Jueves, Viernes, y Sábado de 18h00 a 04h00</p>
        </section>

        <div>
            <p>Av. La República y Mañosca</p>
            <p>Plaza Mayor</p>
        </div>
    </main>
    <br />
    <br />
    <br />
    <br />
</body>
